
.form-group .address {
    font-size: 20px;

}

.signin-page {
    background-color: #F2F7FF;
}

.signin-img {
    width:60%;
    height:60%;
    margin-left: 3rem;
}

.sign-in-flex {
    display: flex;
    flex-direction: row;

}

.sign-in-form {
    margin-top: 6rem;
    margin-left: 8rem;
}

.form-group {
    max-width: 13rem;
}