.sucess-pop {
    padding-top: 1.3rem;
    text-align: center;
    position: absolute;
    margin-top: 100px;
    margin-left: 370px;
    z-index: 11;
    border-style: solid;
    background-color: white;
    width: 50%;
    height: 67%;
    border-radius: 1rem;
    border-color: black;
    background-color: #74EBD5;
    background-image: linear-gradient(135deg, #74EBD5 0%, #9FACE6 100%);

}